<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Learning Docker - Writing Code</title>
    <style type="text/css">
        tr,
        td {
            border: 1px solid grey;
            padding: 5px;
        }
    </style>
</head>
<body>

    {{{body}}}

</body>
</html>